:root{
  --primary-color: #58A6FF;
  --gray-color: #8B949E;
  --disable-color:#484F58;
  --background-color: #0D1117;
  --border-color: #21262D;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: var(--background-color);

}

